<%- include("template/cabecera", {tituloWeb: "Seleccion de Categoria"}) %>

<div class="container divGralDetIns border border-primary border-3 mb-2">

    <form id="formularioEditar" class="row g-3 needs-validation was-validated" data-id="<%= atleta.id %>">
              
        <% if (error) { %>
            <p>   
                <%= mensaje %> 
            </p>
            <a href="/inscripcion" class="btn btn-warning btn-block">Volver a Inscripcion</a>
        <% } %>
        <% if (!error) { %>

                <h6 class="position-relative mt-5 opacity-25">Del Atleta</h6>
                    
                <div class="col-md-2 py-0 pt-0 mt-4">
                    <label for="validationTooltip05" class="form-label">ID-FDFF</label>
                    <input value="<%= atleta.IDFDFF %>" type="number" class="form-control" id="validationTooltip05" name="IDFDFF" required="">
                    <div class="invalid-tooltip">
                      ID de la Federacion (FDFF)
                    </div>
                </div>

                    <div class="col-md-5 py-0 pt-0 m-0 invisible">
                      <label for="validationTooltip05" class="form-label">Fecha</label>
                      <button class="form-control" name="invi" id="validationTooltip05" required=""> </button>
                    </div>
                    <div class="col-md-2 py-0 pt-0 m-0 invisible">
                        <label for="validationTooltip05" class="form-label">Fecha</label>
                        <button class="form-control" name="invi" id="validationTooltip05" required=""> </button>
                      </div>

                    <div class="col-md-3 py-0 pt-0 mb-1">
                        <label for="validationTooltip05" class="form-label">Fecha</label>
                        <input value="" type="datetime" class="form-control" name="FechaActual" id="fechaActual">
                        <div class="invalid-tooltip">
                            Fecha Actual
                        </div>
                    </div>
                    

                    <div class="col-md-3 pt-0 mt-4">
                        <label for="validationTooltip03" class="form-label">Nombre(s) y Apellido(s)</label>
                        <input value="<%= atleta.Nombre %>" type="text" class="form-control" name="Nombre" id="validationTooltip03" required="">
                        <div class="invalid-tooltip">
                          Segun Documento de Identidad
                        </div>
                      </div>

                    <div class="col-md-2 py-0 pt-0 mt-4">
                        <label for="validationTooltip05" class="form-label">Cedula</label>
                        <input value="<%= atleta.Cedula %>" type="number" class="form-control" name="Cedula" id="validationTooltip05" required="">
                        <div class="invalid-tooltip">
                          Numero de Cedula 
                        </div>
                    </div>

                    <div class="col-md-2 py-0 pt-0 my-4">
                        <label for="validationTooltip05" class="form-label">Fecha de Nacimiento</label>
                        <input value="<%= atleta.Nacimiento %>" type="text" class="form-control" name="Nacimiento" id="fechaNacimiento" required="">
                        <div class="invalid-tooltip">
                            Fecha de Nacimiento
                        </div>
                    </div>

                    <div class="col-md-1 py-0 pt-0 my-4">
                        <label for="validationTooltip05" class="form-label">Edad</label>
                        <input value="" type="datetime" class="form-control" name="Edad" id="edad">
                        <div class="invalid-tooltip">
                            Edad en Años
                        </div>
                    </div>

                    <!-- <div class="idedad"><h1 id="edad"></h1></div> -->

                    <div class="col-md-1 py-0 pt-0 my-4">
                        <label for="sexo" class="form-label">Sexo</label>
                        <input value="<%= atleta.Sexo %>" type="text" class="form-control" name="Sexo" id="sexo" required="">
                        <div class="invalid-tooltip">
                            Sexo
                        </div>
                    </div>

                    <div class="col-md-1 py-0 pt-0  my-4">
                        <label for="peso" class="form-label">Peso en Kilos</label>
                        <input value="" type="number" step="0.01" min="0" class="form-control" name="Peso" id="peso">
                        <div class="invalid-tooltip">
                            Peso en Kilos
                        </div>
                    </div>

                    <div class="col-md-2 py-0 pt-0  my-4">
                        <label for="estatura" class="form-label">Estatura en Centimetros</label>
                        <input value="" type="number" step="0.01" min="0" class="form-control" name="Estatura" id="estatura">
                        <div class="invalid-tooltip">
                            Estatura en Centimetros
                        </div>
                    </div>

                    <div class="col-md-3 py-0 pt-0 mb-4">
                        <label for="validationTooltip05" class="form-label">Sector/Barrio</label>
                        <input value="<%= atleta.Sector %>" type="text" class="form-control" name="Sector" id="validationTooltip05" required="">
                        <div class="invalid-tooltip">
                            Sector o Barrio de Residencia
                        </div>
                    </div>

                    <div class="col-md-3 py-0 pt-0  mb-4">
                        <label for="validationTooltip05" class="form-label">Preparador</label>
                        <input value="<%= atleta.Preparador %>" type="text" class="form-control" name="Preparador" id="validationTooltip05" required="">
                        <div class="invalid-tooltip">
                            Entrendor o Coach
                        </div>
                    </div>
            <button class="btn btn-primary btn-md mt-5 mb-4 col-1 mx-2 p-1" id="btnbb" type="button">Culturismo</button>
            <button class="btn btn-primary btn-md mt-5 mb-4 col-1 mx-2" id="btnbikini" type="button">Bikini</button>     
            <button class="btn btn-warning btn-md mt-5 mb-4 col-1 mx-2 p-0 fw-bold" style="font-size: 0.9vw" id="btnmph" type="button">Men's Physique</button> 
            <button class="btn btn-warning btn-md mt-5 mb-4 col-1 mx-2 p-0 fw-bold" style="font-size: 0.8vw" id="btnwomenph" type="button">Women’s Physique</button>  
            <button class="btn btn-success btn-md mt-5 mb-4 col-1 mx-2" id="btnwellness" type="button">Wellness</button>
            <button class="btn btn-dark btn-md mt-5 mb-4 col-1 mx-2 p-1" id="btnbdf" type="button">Bodyfitness</button>     
            <button class="btn btn-success btn-md mt-5 mb-4 col-1 mx-2" id="btnmusc" type="button">Muscular</button>   
            <button class="btn btn-danger btn-md mt-5 mb-4 col-1 mx-2" id="print" type="submit">Inscribir</button>  
          
            <div class="container mt-5 col-12" id="allCategorias">
                
                <% if (arrayCategorias.length > 0) { %>
                    <% arrayCategorias.forEach(categoria => { %>
                 
                        <div style="display: none" class="row" id="divCategoria"> 
                            <hr id="hrCategoria" class="col-11 mx-2"> 
                            <div class="col-12 p-0 m-0 form-check"> 
                                 
                                <label id="labelCategoria" class="mx-4 form-check-label lh-1 fs-4 col-9 p-0" for="checkCategoria"><b><p class="lh-1"><%= categoria.Categoria %></p></b></label>
                            
                                <input role="" aria-label="Checkbox for following text input" value="<%= categoria.Categoria %>" class="valores form-check-input fs-4 p-0 mt-0 mb-0 form-check-reverse  col-1" name="Categoria" type="checkbox" id="checkCategoria" data-datadisciplina="<%= categoria.Disciplina %>" data-id="<%= categoria.id %>" data-datadivision="<%= categoria.Division %>" data-datamodal="<%= categoria.Modalidad %>" data-genero="<%= categoria.Genero %>" data-paredad='<%= categoria.HastaEdad %>' data-pardesdeedad='<%= categoria.DesdeEdad %>' data-pardesdepeso='<%= categoria.DesdePeso %>' data-parhastapeso='<%= categoria.HastaPeso %>' data-pardesdeestatura='<%= categoria.DesdeEstatura %>' data-parhastaestatura='<%= categoria.HastaEstatura %>'>
                            </div>  
                            
                        </div>                   
                    <% }) %>
                <% } %>
                <hr class="lg-2 mr-5 pt-0 mt-0">
            </div>
        <% } %> 
    </form>
</div>
  
        <H4 class="mb-2">
            Firma de Atleta_______________________________________<span class="fs-6">Con esta firma certifico que no tengo antecedentes penales ni asuntos pendientes con la justicia</span>
        </H4>    

<%- include("template/footer") %>

<script>

            btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

    const fechaNacimiento = document.getElementById("fechaNacimiento");
    const id = formularioEditar.dataset.id;

    const fechaActual = new Date();
    const anoActual = parseInt(fechaActual.getFullYear());
    const mesActual = parseInt(fechaActual.getMonth()) + 1;
    const diaActual = parseInt(fechaActual.getDate());

    const fechaPartes = fechaNacimiento.value.split(' ')
    const anoNacimiento = fechaPartes[3];
    const mesNacimientoText = fechaPartes[1];
    const diaNacimiento = fechaPartes[2];

    const meses = ['Ano', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    const mesNacimiento = meses.findIndex((elemento) => elemento === mesNacimientoText);
  
    let edad = anoActual - anoNacimiento;
    if (mesActual < mesNacimiento) {
        edad--;
    } else if (mesActual === mesNacimiento) {
        if (diaActual < diaNacimiento) {
            edad--;
        }
    }

    let edadJunior = anoActual - anoNacimiento;

    const botonCulturismo = document.getElementById("btnbb")
    botonCulturismo.addEventListener('click', function() {
             
            btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                if (disciplina == "Mixed-pairs") {
                    divCategoria[index].style.display = 'block';
                }

                //---------------------------------------------------- Genero Masculino -----------------------------------------------------------
                if (generoAtleta == 'M' && genero == 'M') {
                
                   
                //--------------------------------------------------------- Junior ---------------------------------------------------------------               
                    if (edadJunior < 24 && modal == 'Junior') {
                        divCategoria[index].style.display = 'none';  
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            divCategoria[index].style.display = 'block';
                        }    
                    }
                //---------------------------------------------------- Master -----------------------------------------------------------
                    if (edad > 39 && modal == 'Master') {
                        divCategoria[index].style.display = 'none';       
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            divCategoria[index].style.display = 'block';
                        }
                    }
                }

                // if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
                //     divCategoria[index].style.display = 'block';
                // }

                 //---------------------------------------------------- Senior BB -----------------------------------------------------------
        
            if (generoAtleta == 'M' && genero == 'M' && pesoInicial < pesoAtleta && pesoFinal >= pesoAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';   
            }

            if (modal == 'Junior' && pesoInicial || modal == 'Master' && pesoInicial) {
                divCategoria[index].style.display = 'none';   
                if (pesoInicial < pesoAtleta && pesoFinal >= pesoAtleta) {
                    if (edadJunior < 24 && modal == 'Junior') { 
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            divCategoria[index].style.display = 'block';
                        }    
                    }
                    if (edad > 39 && modal == 'Master') {                          
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            divCategoria[index].style.display = 'block';
                        }
                    }
                }
            }

            if (generoAtleta == 'M' && genero == 'M' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (disciplina == "Men's Physique" || disciplina == "Muscular Men's Physique" || disciplina == "Men's Fitness" || disciplina == "Men's Fit-Model") {
                divCategoria[index].style.display = 'none';
            }

            }
        })

    const botonmph = document.getElementById("btnmph")
    botonmph.addEventListener('click', function() {
             
            btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                if (disciplina == "Fit-pairs") {
                    divCategoria[index].style.display = 'block';
                }

                //----------------------------------------------------  -----------------------------------------------------------
                if (generoAtleta == 'M' && genero == 'M') {
                
                //--------------------------------------------------------- Junior ---------------------------------------------------------------               
                    if (edadJunior < 24 && modal == 'Junior') {

                        if (disciplina == "Men's Fitness" && division == "Open") {
             
                            if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                               
                                if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                    divCategoria[index].style.display = 'block';
                                } else {
                                    divCategoria[index].style.display = 'block';
                                }
                            }    
                        }

                        if (disciplina == "Men's Physique") {

                            if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                                if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                    divCategoria[index].style.display = 'block';
                                } if (!estaturaInicial) {
                                    divCategoria[index].style.display = 'block';
                                }
                            }  
                        }
                    }
                //---------------------------------------------------- Master -----------------------------------------------------------
                    if (edad > 39 && modal == 'Master') {
                       
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                divCategoria[index].style.display = 'block';
                            } 
                            
                            if (!estaturaInicial) {
                                divCategoria[index].style.display = 'block';
                            }
                        } 

                    }
                }

                if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
                    divCategoria[index].style.display = 'block';
                }

            if (generoAtleta == 'M' && genero == 'M' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (disciplina == "Men's Bodybuilding" || disciplina == "Men’s Bodybuilding" || disciplina == "Classic Physique" || disciplina == "Men’s Classic Bodybuilding" || disciplina == "Games Classic" || disciplina == "Mixed-pairs" || disciplina == "Muscular Men's Physique") {
                divCategoria[index].style.display = 'none';
            } 
 
        }

        })


    const botonMusc = document.getElementById("btnmusc")
    botonMusc.addEventListener('click', function() {

      
        btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                // if (disciplina == "Muscular Men's Physique") {
                //     divCategoria[index].style.display = 'block';
                // }

                if (disciplina == "Muscular Men's Physique") {

                  
                        if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                            divCategoria[index].style.display = 'block';
                        } if (!estaturaInicial) {
                            divCategoria[index].style.display = 'block';
                        }
                     
                }



            }
    })


    const botonBkn = document.getElementById("btnbikini")
    botonBkn.addEventListener('click', function() {
                
        btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                if (disciplina == "Fit-pairs") {
                    divCategoria[index].style.display = 'block';
                }

                //----------------------------------------------------  -----------------------------------------------------------
                if (generoAtleta == 'F' && genero == 'F') {
                
                //--------------------------------------------------------- Junior ---------------------------------------------------------------               
                    if (edadJunior < 24 && modal == 'Junior') {

                        // if (disciplina == "Men's Fitness" && division == "Open") {
             
                            if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                               
                                if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                    divCategoria[index].style.display = 'block';
                                }
                                
                                if (!estaturaInicial) {
                                    divCategoria[index].style.display = 'block';
                                }
                            }    
                        // }

                        // if (disciplina == "Men's Physique") {

                        //     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                        //         if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                        //             divCategoria[index].style.display = 'block';
                        //         } if (!estaturaInicial) {
                        //             divCategoria[index].style.display = 'block';
                        //         }
                        //     }  
                        // }
                    }
                //---------------------------------------------------- Master -----------------------------------------------------------
                    if (edad > 34 && modal == 'Master') {
                       
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                divCategoria[index].style.display = 'block';
                            } 
                            
                            if (!estaturaInicial) {
                                divCategoria[index].style.display = 'block';
                            }
                        } 

                    }
                }

                if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
                    divCategoria[index].style.display = 'block';
                }

            if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (disciplina == "Women's Wellness" || disciplina == "Women's Bodyfitness" || disciplina == "Women’s Physique" || disciplina == "Mixed-pairs" || disciplina == "Women’s Acrobatic Fitness") {
                divCategoria[index].style.display = 'none';
            } 
 
        }

        })

    const botonWomenph = document.getElementById("btnwomenph")
    botonWomenph.addEventListener('click', function() {
                
        btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                if (disciplina == "Mixed-pairs") {
                    divCategoria[index].style.display = 'block';
                }

                //----------------------------------------------------  -----------------------------------------------------------
                if (generoAtleta == 'F' && genero == 'F') {
                
                //--------------------------------------------------------- Junior ---------------------------------------------------------------               
                    if (edadJunior < 24 && modal == 'Junior') {

                        // if (disciplina == "Men's Fitness" && division == "Open") {
             
                            if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                               
                                if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                    divCategoria[index].style.display = 'block';
                                }
                                
                                if (!estaturaInicial) {
                                    divCategoria[index].style.display = 'block';
                                }
                            }    
                        // }

                        // if (disciplina == "Men's Physique") {

                        //     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                        //         if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                        //             divCategoria[index].style.display = 'block';
                        //         } if (!estaturaInicial) {
                        //             divCategoria[index].style.display = 'block';
                        //         }
                        //     }  
                        // }
                    }
                //---------------------------------------------------- Master -----------------------------------------------------------
                    if (edad > 34 && modal == 'Master') {
                       
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                divCategoria[index].style.display = 'block';
                            } 
                            
                            if (!estaturaInicial) {
                                divCategoria[index].style.display = 'block';
                            }
                        } 

                    }
                }

                if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
                    divCategoria[index].style.display = 'block';
                }

            if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (disciplina == "Women's Wellness" || disciplina == "Women's Bodyfitness" || disciplina == "Women's Bikini" || disciplina == "Fit-pairs" || disciplina == "Women’s Acrobatic Fitness" || disciplina == "Women’s Artistic Fitness" || disciplina == "Women’s Fit-Model") {
                divCategoria[index].style.display = 'none';
            } 
 
        }

        })


    const botonWellness = document.getElementById("btnwellness")
    botonWellness.addEventListener('click', function() {
                
        btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                
                //----------------------------------------------------  -----------------------------------------------------------
                if (generoAtleta == 'F' && genero == 'F') {
                
                //--------------------------------------------------------- Junior ---------------------------------------------------------------               
                    if (edadJunior < 24 && modal == 'Junior') {

                        // if (disciplina == "Men's Fitness" && division == "Open") {
             
                            if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                               
                                if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                    divCategoria[index].style.display = 'block';
                                }
                                
                                if (!estaturaInicial) {
                                    divCategoria[index].style.display = 'block';
                                }
                            }    
                        // }

                        // if (disciplina == "Men's Physique") {

                        //     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                        //         if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                        //             divCategoria[index].style.display = 'block';
                        //         } if (!estaturaInicial) {
                        //             divCategoria[index].style.display = 'block';
                        //         }
                        //     }  
                        // }
                    }
                //---------------------------------------------------- Master -----------------------------------------------------------
                    if (edad > 34 && modal == 'Master') {
                       
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                divCategoria[index].style.display = 'block';
                            } 
                            
                            if (!estaturaInicial) {
                                divCategoria[index].style.display = 'block';
                            }
                        } 

                    }
                }

                if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
                    divCategoria[index].style.display = 'block';
                }

            if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (disciplina == "Women’s Physique" || disciplina == "Women's Bodyfitness" || disciplina == "Women's Bikini" || disciplina == "Fit-pairs" || disciplina == "Mixed-pairs" || disciplina == "Women’s Acrobatic Fitness" || disciplina == "Women’s Artistic Fitness") {
                divCategoria[index].style.display = 'none';
            } 
 
        }

        })

    const botonBodyFit = document.getElementById("btnbdf")
    botonBodyFit.addEventListener('click', function() {
                
        btnbb.style.display = "none";
            btnbikini.style.display = "none";
            btnmph.style.display = "none";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "none";

            for (let index = 0; index < checkCategoria.length; index++) {
                
                let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
                let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
                let pesoAtleta = peso.value
    
                let modal = checkCategoria[index].dataset.datamodal
                let division = checkCategoria[index].dataset.datadivision
                let disciplina = checkCategoria[index].dataset.datadisciplina
    
                let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
                let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
                let edadAtleta = edad
    
                let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
                let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
                let estaturaAtleta = estatura.value
    
                let genero = checkCategoria[index].dataset.genero
                let generoAtleta = sexo.value

                
                //----------------------------------------------------  -----------------------------------------------------------
                if (generoAtleta == 'F' && genero == 'F') {
                
                //--------------------------------------------------------- Junior ---------------------------------------------------------------               
                    if (edadJunior < 24 && modal == 'Junior') {

                        // if (disciplina == "Men's Fitness" && division == "Open") {
             
                            if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                               
                                if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                    divCategoria[index].style.display = 'block';
                                }
                                
                                if (!estaturaInicial) {
                                    divCategoria[index].style.display = 'block';
                                }
                            }    
                        // }

                        // if (disciplina == "Men's Physique") {

                        //     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                        //         if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                        //             divCategoria[index].style.display = 'block';
                        //         } if (!estaturaInicial) {
                        //             divCategoria[index].style.display = 'block';
                        //         }
                        //     }  
                        // }
                    }
                //---------------------------------------------------- Master -----------------------------------------------------------
                    if (edad > 34 && modal == 'Master') {
                       
                        if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
                            if (estaturaInicial && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta){
                                divCategoria[index].style.display = 'block';
                            } 
                            
                            if (!estaturaInicial) {
                                divCategoria[index].style.display = 'block';
                            }
                        } 

                    }
                }

                if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
                    divCategoria[index].style.display = 'block';
                }

            if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
                divCategoria[index].style.display = 'block';
            } 

            if (disciplina == "Women’s Physique" || disciplina == "Women's Wellness" || disciplina == "Women's Bikini" || disciplina == "Fit-pairs" || disciplina == "Mixed-pairs" || disciplina == "Women’s Artistic Fitness" || disciplina == "Women’s Fit-Model") {//Women’s Fit-Model
                divCategoria[index].style.display = 'none';
            } 
 
        }

        })


    


    window.addEventListener('load', function () {
        document.getElementById('edad').value = edad; 

        if (sexo.value == 'M') {
            btnbb.style.display = "block";
            btnbikini.style.display = "none";
            btnmph.style.display = "block";
            btnwomenph.style.display = "none";
            btnwellness.style.display = "none";
            btnbdf.style.display = "none";
            btnmusc.style.display = "block";
        }

        if (sexo.value == 'F') {
            btnbb.style.display = "none";
            btnbikini.style.display = "block";
            btnmph.style.display = "none";
            btnwomenph.style.display = "block";
            btnwellness.style.display = "block";
            btnbdf.style.display = "block";
            btnmusc.style.display = "none";
        }
            
        for (let index = 0; index < checkCategoria.length; index++) {
                
            let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
            let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
            let pesoAtleta = peso.value

            let modal = checkCategoria[index].dataset.datamodal
            let division = checkCategoria[index].dataset.datadivision
            let disciplina = checkCategoria[index].dataset.datadisciplina

            let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
            let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
            let edadAtleta = edad

            let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
            let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
            let estaturaAtleta = estatura.value

            let genero = checkCategoria[index].dataset.genero
            let generoAtleta = sexo.value

//---------------------------------------------------- categorias open full -----------------------------------------------------------
            // if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta && edadAtleta > 15) {
            //     divCategoria[index].style.display = 'block';
            // }

           
         
//---------------------------------------------------- Genero Masculino -----------------------------------------------------------
            // if (generoAtleta == 'M' && genero == 'M') {
                
            //     if (edad < 16 && modal == 'Childrem' && edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
            //         divCategoria[index].style.display = 'block';
            //     }
            //     //--------------------------------------------------------- Junior ---------------------------------------------------------------               
            //     if (edadJunior < 24 && modal == 'Junior') {
            //         divCategoria[index].style.display = 'none';  
            //         if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
            //             divCategoria[index].style.display = 'block';
            //         }    
            //     }
            //     //---------------------------------------------------- Master -----------------------------------------------------------
            //     if (edad > 39 && modal == 'Master') {
            //         divCategoria[index].style.display = 'none';       
            //         if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
            //             divCategoria[index].style.display = 'block';
            //         }
            //     }
            // }
//---------------------------------------------------- Genero Femenino -----------------------------------------------------------
            // if (generoAtleta == 'F' && genero == 'F') {

                
            //     if (edad < 16 && modal == 'Childrem' && edadInicial < edadAtleta && edadFinal >= edadAtleta) {
            //         divCategoria[index].style.display = 'block';
            //     }
            //     //--------------------------------------------------------- Junior ---------------------------------------------------------------               
            //     if (edadJunior < 24 && modal == 'Junior') {
            //         divCategoria[index].style.display = 'none';  
            //         if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
            //             divCategoria[index].style.display = 'block';
            //         }      
            //     }
            //     //---------------------------------------------------- Master -----------------------------------------------------------
            //     if (edad > 34 && modal == 'Master') {
            //         divCategoria[index].style.display = 'none';                           
            //         if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
            //             divCategoria[index].style.display = 'block';
            //         }
            //     }
            // }
        }
    });
//---------------------------------------------------- Campo Peso -----------------------------------------------------------
//         const inputpeso = document.getElementById("peso")
//         inputpeso.addEventListener('keyup', function() {
//             for (let index = 0; index < checkCategoria.length; index++) {
               

//                 let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
//             let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
//             let pesoAtleta = peso.value

//             let modal = checkCategoria[index].dataset.datamodal
//             let division = checkCategoria[index].dataset.datadivision
//             let disciplina = checkCategoria[index].dataset.datadisciplina

//             let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
//             let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
//             let edadAtleta = edad

//             let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
//             let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
//             let estaturaAtleta = estatura.value

//             let genero = checkCategoria[index].dataset.genero
//             let generoAtleta = sexo.value

//             divCategoria[index].style.display = 'none';

//             if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
//                 divCategoria[index].style.display = 'block';
//             }

//             if (genero == 'F-M') {
//                 divCategoria[index].style.display = 'block';
//             }

//             // ---------------------------------------------------- Genero Masculino -----------------------------------------------------------
//             if (generoAtleta == 'M' && genero == 'M') {
//                 //--------------------------------------------------------- Junior ---------------------------------------------------------------               
//                 if (edadJunior < 24 && modal == 'Junior') {
//                     divCategoria[index].style.display = 'none';  
//                     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//                         divCategoria[index].style.display = 'block';
//                     }    
//                 }
//                 //---------------------------------------------------- Master -----------------------------------------------------------
//                 if (edad > 39 && modal == 'Master') {
//                     divCategoria[index].style.display = 'none';       
//                     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//                         divCategoria[index].style.display = 'block';
//                     }
//                 }
//             }
// //---------------------------------------------------- Genero Femenino -----------------------------------------------------------
//             if (generoAtleta == 'F' && genero == 'F') {
//                 //--------------------------------------------------------- Junior ---------------------------------------------------------------               
//                 if (edadJunior < 24 && modal == 'Junior') {
//                     divCategoria[index].style.display = 'none';  
//                     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//                         divCategoria[index].style.display = 'block';
//                     }      
//                 }
//                 //---------------------------------------------------- Master -----------------------------------------------------------
//                 if (edad > 34 && modal == 'Master') {
//                     divCategoria[index].style.display = 'none';                           
//                     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//                         divCategoria[index].style.display = 'block';
//                     }
//                 }
//             }
            
//         // //---------------------------------------------------- Senior BB -----------------------------------------------------------
        
//         //     if (generoAtleta == 'M' && genero == 'M' && pesoInicial < pesoAtleta && pesoFinal >= pesoAtleta && modal == 'Senior') {
//         //         divCategoria[index].style.display = 'block';   
//         //     }

//         //     if (modal == 'Junior' && pesoInicial || modal == 'Master' && pesoInicial) {
//         //         divCategoria[index].style.display = 'none';   
//         //         if (pesoInicial < pesoAtleta && pesoFinal >= pesoAtleta) {
//         //             if (edadJunior < 24 && modal == 'Junior') { 
//         //                 if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//         //                     divCategoria[index].style.display = 'block';
//         //                 }    
//         //             }
//         //             if (edad > 39 && modal == 'Master') {                          
//         //                 if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//         //                     divCategoria[index].style.display = 'block';
//         //                 }
//         //             }
//         //         }
//         //     }

//         //     if (generoAtleta == 'M' && genero == 'M' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
//         //         divCategoria[index].style.display = 'block';
//         //     } 

//         //     if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
//         //         divCategoria[index].style.display = 'block';
//         //     } 

//             };
//         })

//---------------------------------------------------- Campo Estatura -----------------------------------------------------------

//         const inputestatura = document.getElementById("estatura")
//         inputestatura.addEventListener('keyup', function() {
//             for (let index = 0; index < checkCategoria.length; index++) {
                
           
//             let pesoInicial = parseInt(checkCategoria[index].dataset.pardesdepeso)
//             let pesoFinal = parseInt(checkCategoria[index].dataset.parhastapeso)
//             let pesoAtleta = peso.value
    
//             let modal = checkCategoria[index].dataset.datamodal
//             let division = checkCategoria[index].dataset.datadivision
//             let disciplina = checkCategoria[index].dataset.datadisciplina
    
//             let edadInicial = parseInt(checkCategoria[index].dataset.pardesdeedad)
//             let edadFinal = parseInt(checkCategoria[index].dataset.paredad)
//             let edadAtleta = edad
    
//             let estaturaInicial = parseInt(checkCategoria[index].dataset.pardesdeestatura)
//             let estaturaFinal = parseInt(checkCategoria[index].dataset.parhastaestatura)
//             let estaturaAtleta = estatura.value
    
//             let genero = checkCategoria[index].dataset.genero
//             let generoAtleta = sexo.value


//             divCategoria[index].style.display = 'none';

//             if (!pesoInicial && !edadInicial && !estaturaInicial && genero == generoAtleta) {
//                 divCategoria[index].style.display = 'block';
//             }

//             if (genero == 'F-M') {
//                 divCategoria[index].style.display = 'block';
//             }
// //---------------------------------------------------- Genero Masculino -----------------------------------------------------------
// if (generoAtleta == 'M' && genero == 'M') {
// //--------------------------------------------------------- Junior ---------------------------------------------------------------               
// if (edadJunior < 24 && modal == 'Junior') {
//     divCategoria[index].style.display = 'none';  
//     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//         divCategoria[index].style.display = 'block';
//     }    
// }
// //---------------------------------------------------- Master -----------------------------------------------------------
// if (edad > 39 && modal == 'Master') {
//     divCategoria[index].style.display = 'none';       
//     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//         divCategoria[index].style.display = 'block';
//     }
// }
// }
// //---------------------------------------------------- Genero Femenino -----------------------------------------------------------
// if (generoAtleta == 'F' && genero == 'F') {
// //--------------------------------------------------------- Junior ---------------------------------------------------------------               
// if (edadJunior < 24 && modal == 'Junior') {
//     divCategoria[index].style.display = 'none';  
//     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//         divCategoria[index].style.display = 'block';
//     }      
// }
// //---------------------------------------------------- Master -----------------------------------------------------------
// if (edad > 34 && modal == 'Master') {
//     divCategoria[index].style.display = 'none';                           
//     if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//         divCategoria[index].style.display = 'block';
//     }
// }
// }

// //---------------------------------------------------- Senior BB -----------------------------------------------------------

// if (generoAtleta == 'M' && genero == 'M' && pesoInicial < pesoAtleta && pesoFinal >= pesoAtleta && modal == 'Senior') {
// divCategoria[index].style.display = 'block';

// }

// if (modal == 'Junior' && pesoInicial || modal == 'Master' && pesoInicial) {
// divCategoria[index].style.display = 'none';


// if (pesoInicial < pesoAtleta && pesoFinal >= pesoAtleta) {

//     if (edadJunior < 24 && modal == 'Junior') { 
//         if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//             divCategoria[index].style.display = 'block';
//         }
        
//     }

//     if (edad > 39 && modal == 'Master') {                          
//         if (edadInicial <= edadAtleta && edadFinal >= edadAtleta) {
//             divCategoria[index].style.display = 'block';
//         }
//     }
// }
// }

//             if (generoAtleta == 'M' && genero == 'M' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
//                 divCategoria[index].style.display = 'block';
//             } 

//             if (generoAtleta == 'F' && genero == 'F' && estaturaInicial < estaturaAtleta && estaturaFinal >= estaturaAtleta && modal == 'Senior') {
//                 divCategoria[index].style.display = 'block';
//             } 


//         }
//         })

        // const printBtn = document.getElementById('divCategoria');
        // const katt = document.querySelectorAll(".valores")
        

        // printBtn.addEventListener('input', function() {
        //     katt.forEach(element => {
        //         if (element.checked.dataset.datadisciplina == "men's bodybuilding") {
        //             console.log(element.value)
        //         }
               
        //     });
           
    // });
           
        
         

        // const printBtn = document.getElementById('print');
        // printBtn.addEventListener('click', function() {

            
        //     print();

        // });


</script>