<%- include("template/cabecera", {tituloWeb: "Pagina de Atletas"}) %>



<div class="container container-fluid p-1">
    <form method="get">

    <input type="text" id="inputEvento" name="eventoDinamico" value="" class="border-0 fs-3 fw-bold col-10 bg-white" readonly>
    
    <input type="text" id="hdinam" class="d-none" name="" value="<%= eventosDinamicos %>"><%= eventosDinamicos %></input>
</form>

    <a
        class="btn btn-dark btn-block mb-4 text-dark" 
        
    >
      p
    </a>
  
    <div class="table-responsive" id="mydatatable-container">
        <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
            <thead>
                <tr>
                    <th scope="col">Orden Salida</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Filter..</th>
                    <th>Filter..</th>
                    <th>Filter..</th>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <% if (arrayDinamicos.length > 0) { %>
                    <% arrayDinamicos.forEach(eventosDinamicos => { %>
                        <tr>
                            <th scope="row"><%= eventosDinamicos.Salida %></th>
                            <td><%= eventosDinamicos.Categoria %></td>
                            <td><%= eventosDinamicos.Competidor[0].Nombre %></td>
                            <td><a href="atletas/<%= eventosDinamicos.id %>" class="btn btn-warning btn-sm">Editar</a></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>


  <script type="text/javascript">
    $(document).ready(function () {
        $('#mydatatable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar.." />');
        });

        var table = $('#mydatatable').DataTable({
            "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
            "responsive": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            "order": [
                [0, "desc"]
            ],
            "initComplete": function () {
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                })
            },
            "buttons": ['csv', 'excel', 'pdf', 'print']
        });
    });

     $(document).ready(function(){
       
       

            var nombreEvento = $("#hdinam").val();
            $("#inputEvento").val(nombreEvento);
        
    });


  </script>

        <!-- On tables
<table class="table-primary">...</table>
<table class="table-secondary">...</table>
<table class="table-success">...</table>
<table class="table-danger">...</table>
<table class="table-warning">...</table>
<table class="table-info">...</table>
<table class="table-light">...</table>
<table class="table-dark">...</table>

On rows -->
<!-- <tr class="table-primary">...</tr>
<tr class="table-secondary">...</tr>
<tr class="table-success">...</tr>
<tr class="table-danger">...</tr>
<tr class="table-warning">...</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr> -->

<!-- On cells (`td` or `th`) -->
<!-- <tr>
  <td class="table-primary">...</td>
  <td class="table-secondary">...</td>
  <td class="table-success">...</td>
  <td class="table-danger">...</td>
  <td class="table-warning">...</td>
  <td class="table-info">...</td>
  <td class="table-light">...</td>
  <td class="table-dark">...</td>
</tr> -->
   
</div>

<%- include("template/footer") %>