<%- include("template/cabecera", {tituloWeb: "Pagina de Atletas"}) %>

<div class="container divGeneral border border-1 border-dark p-2 col-10">
    <div class="table-responsive col-10 ml-auto mr-auto" id="mydatatable-container">     
        <div class="col-6 ml-0 p-0">
            <h1 class="my-4">Inscripcion a Evento</h1>
        </div>
       
        <table class="records_list table table-striped table-bordered border border-dark border-3 table-hover" id="mydatatable">
            <thead>
                <tr class="table-blue"> 
                    <th scope="col" class="bg-primary">Cedula</th>
                    <th scope="col" class="bg-primary fs-5 mx-5 pl-5 pr-5 mx-4 position-relative"><p class="position-absolute top-0 start-0">Nombre</p></th>  
                    <th scope="col" class="bg-primary">IDFDFF</th>
                    <th scope="col" class="bg-primary">Accion</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                   
                    <th>Filter..</th>
                    <th>Filter..</th>
                    <th>Filter..</th>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <% if (arrayAtletas.length > 0) { %>
                    <% arrayAtletas.forEach(atleta => { %>
                        <tr>
                            <td class="col-sm-3"><%= atleta.Cedula %></td>
                            <td class="col-sm-8 fs-4"><%= atleta.Nombre %></td>
                            <th class="col-sm-2" scope="row"><%= atleta.IDFDFF %></th>
                            <td><a href="inscripcion/<%= atleta.id %>" class="btn btn-warning btn-sm">Inscribir</a></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mydatatable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Filtrar.." />');
            });
    
            var table = $('#mydatatable').DataTable({
                "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
                "responsive": false,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "order": [
                    [0, "desc"]
                ],
                "initComplete": function () {
                    this.api().columns().every(function () {
                        var that = this;
    
                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    })
                },
                "buttons": ['csv', 'excel', 'pdf', 'print']
            });
        });
      </script>
   
</div>
<%- include("template/footer") %>